<%= content_tag :h1, t('.badges') %>
<p>
  <%= link_to t('.create_new_badge'), new_admin_badge_path %>
</p>
<% if @badges.present? %>
  <table class='table table-bordered'>
    <tr>
      <th><%= t('.number') %></th>
      <th><%= t('.name') %></th>
      <th><%= t('.image') %></th>
      <th><%= t('.rules') %></th>
      <th><%= t('.actions') %></th>
    </tr>
    <%= render @badges %>
  </table>
<% else %>
  <%= t('.no_badges_yet') %>
<% end %>
