<tr>
  <td>
    <%= badge_counter + 1 %>
  </td>
  <td>
    <%= badge.name %>
  </td>
  <td>
    <%= 
      badge.rules.map do |rule| 
        rule.content.join(' ')
      end.join("<br/>AND</br>").html_safe 
    %>
  </td>
  <td>
    <%= badge_helper(badge) %>
  </td>
  <td>
    <%= ((octicon "check", style: "color: green", height: 30, width: 35) * @my_badges.where('badges.id = ?', badge.id).count).html_safe %>
  </td>
</tr>
