<%= form_with(model: @user, local: true) do |form| %>
  <%= render 'shared/errors', resource: @user %>

  <div class="field">
    <%= form.label :email %><br/>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.label :password %><br/>
    <%= form.password_field :password, id: :user_password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %><br/>
    <%= form.password_field :password_confirmation, id: :user_password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
