<tr>
  <td>
    <%= test_counter + 1 %>
  </td>
  <td>
    <%= test.title %>
  </td>
  <td>
    <%= link_to test.questions.count, admin_test_questions_path(test_id: test) %>
  </td>
  <td>
    <%= link_to t('.show'), admin_test_path(test) %>
  </td>
  <td>
    <%= link_to t('.edit'), edit_admin_test_path(test) %>
  </td>
  <td>
    <%= button_to t('.delete'), admin_test_path(test), method: :delete, data: {confirm: "Вы уверены?"} %>
  </td>
</tr>
