<tr>
  <td>
    <%= test_counter + 1 %>
  </td>
  <td class="title">
    <%= test.title %>
  </td>
  <td>
    <%= test.questions.count %>
  </td>
  <td>
    <%= progress_message(test, current_user) %>
  </td>
  <td>
    <%= button_to t('.start'), start_test_path(test), class: 'btn btn-primary' if test.questions.present? %>
    <%= t('.no_questions_message') if test.questions.blank? %>
  </td>
</tr>
